-
    var client_data = [
        { url: "https://www.ufobeer.com/", image: "ufo-beer.png", name: "UFO Beer" },
        { url: "https://www.hpe.com/us/en/newsroom.html", image: "hpe-newsroom.png", name: "Hewlett-Packard Newsroom" },
        { url: "https://www.startpath.com/global/", image: "mastercard-startpath.png", name: "MasterCard StartPath" },
        { url: "http://www.toshiba.com/tai/", image: "toshiba.png", name: "Toshiba" },
        { url: "https://crispr.corteva.com", image: "crispr.png", name: "CRISPR" },
        { url: "https://www.zoetis.com/", image: "zoetis.png", name: "Zoetis" },
        { url: "https://www.fooddialogues.com/", image: "food-dialogues.png", name: "Food Dialogues: U.S. Farmers &amp; Ranchers Alliance" },
        { url: "https://www.universaltalentdevelopment.com/", image: "universal-global-talent-development-inclusion.png", name: "Universal Pictures Global Talent Development &amp; Inclusion" },
        { url: "https://www.electricforall.org/", image: "electric-for-all.png", name: "Electric For All" },
        { url: "https://www.charleskochfoundation.org/", image: "charles-koch-foundation.png", name: "Charles Koch Foundation" },
        { url: "https://www.charleskochinstitute.org/", image: "charles-koch-institute.png", name: "Charles Koch Institute" },
        { url: "https://gmoanswers.com/", image: "gmo-answers.png", name: "GMO Answers" },
        { url: "https://www.ketchum.com/", image: "ketchum.png", name: "Ketchum" },
        { url: "https://about.van.fedex.com", image: "about-fedex.png", name: "About FedEx" },
        { url: "https://www.bms.com/about-us/our-company/working-together-for-patients.html", image: "bms-working-together-for-patients.png", name: "BMS Working Together for Patients" },
        { url: "https://www.chickencheck.in", image: "chicken-check-in.png", name: "Chicken Check In" },
        { url: "https://www.suzannewrightfoundation.org", image: "code-purple.png", name: "Code Purple Now" },
        { url: "https://www.cmfeelthelove.com", image: "coffee-mate-feel-the-love.png", name: "Coffee Mate Feel The Love" },
        { url: "https://www.darefoods.com/us_en", image: "dare-foods.png", name: "Dare Foods" },
        { url: "https://www.exploravision.org", image: "exploravision.png", name: "Toshiba ExploraVision" },
        { url: "https://www.healthit.gov", image: "health-it-gov.png", name: "HealthIT.gov" },
        { url: "https://www.ibdunmasked.com/global/", image: "ibd-unmasked.png", name: "IBD Unmasked" },
        { url: "https://www.igu.org", image: "igu.png", name: "IGU" },
        { url: "http://getbacktothetable.com", image: "libbys-get-back-to-the-table.png", name: "Libby's Get Back To The Table" },
        { url: "http://www.omnicomevents.com", image: "omnicom-group.png", name: "Omnicom Events" },
        { url: "https://www.petfoodinstitute.org", image: "pet-food-institute.png", name: "Pet Food Institute" },
        { url: "http://senecafoods.com", image: "seneca-foods.png", name: "Seneca Foods" },
        { url: "http://senecasnacks.com", image: "seneca-snacks.png", name: "Seneca Snacks" },
        { url: "https://www.thinkanthem.com", image: "think-anthem.png", name: "Think Anthem" },
    ]

each client in client_data
    div
        a(href=client.url target='_blank' rel='noopener noreferrer')
            img.lazyload(data-src='images/' + client.image title=client.name alt=client.name)
        p= client.name
