div
  a(href='https://www.ufobeer.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/ufo-beer.png' title='UFO Beer' alt='UFO Beer')
  p UFO Beer

div
  a(href='https://www.hpe.com/us/en/newsroom.html' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/hpe-newsroom.png' title='Hewlett-Packard Newsroom' alt='Hewlett-Packard Newsroom')
  p Hewlett-Packard Newsroom

div
  a(href='https://www.startpath.com/global/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/mastercard-startpath.png' title='MasterCard StartPath' alt='MasterCard StartPath')
  p MasterCard StartPath

div
  a(href='http://www.toshiba.com/tai/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/toshiba.png' title='Toshiba' alt='Toshiba')
  p Toshiba

div
  a(href='https://crispr.corteva.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/crispr.png' title='CRISPR' alt='CRISPR')
  p CRISPR

div
  a(href='https://www.zoetis.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/zoetis.png' title='Zoetis' alt='Zoetis')
  p Zoetis

div
  a(href='https://www.fooddialogues.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/food-dialogues.png' title='Food Dialogues' alt='Food Dialogues')
  p Food Dialogues: U.S. Farmers &amp; Ranchers Alliance

div
  a(href='https://www.universaltalentdevelopment.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/universal-global-talent-development-inclusion.png' title='Universal Pictures Global Talent Development & Inclusion' alt='Universal Pictures Global Talent Development & Inclusion')
  p Universal Pictures Global Talent Development &amp; Inclusion

div
  a(href='https://www.electricforall.org/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/electric-for-all.png' title='Electric For All' alt='Electric For All')
  p Electric For All

div
  a(href='https://www.charleskochfoundation.org/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/charles-koch-foundation.png' title='Charles Koch Foundation' alt='Charles Koch Foundation')
  p Charles Koch Foundation

div
  a(href='https://www.charleskochinstitute.org/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/charles-koch-institute.png' title='Charles Koch Institute' alt='Charles Koch Institute')
  p Charles Koch Institute

div
  a(href='https://gmoanswers.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/gmo-answers.png' title='GMO Answers' alt='GMO Answers')
  p GMO Answers

div
  a(href='https://www.ketchum.com/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/ketchum.png' title='Ketchum' alt='Ketchum')
  p Ketchum

div
  a(href='https://about.van.fedex.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/about-fedex.png' title='About FedEx' alt='About FedEx')
  p About FedEx

div
  a(href='https://www.bms.com/about-us/our-company/working-together-for-patients.html' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/bms-working-together-for-patients.png' title='BMS Working Together for Patients' alt='BMS Working Together for Patients')
  p BMS Working Together for Patients

div
  a(href='https://www.chickencheck.in' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/chicken-check-in.png' title='Chicken Check In' alt='Chicken Check In')
  p Chicken Check In

div
  a(href='https://www.suzannewrightfoundation.org' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/code-purple.png' title='Code Purple Now' alt='Code Purple Now')
  p Code Purple Now

div
  a(href='https://www.cmfeelthelove.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/coffee-mate-feel-the-love.png' title='Coffee Mate Feel The Love' alt='Coffee Mate Feel The Love')
  p Coffee Mate Feel The Love

div
  a(href='https://www.darefoods.com/us_en' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/dare-foods.png' title='Dare Foods' alt='Dare Foods')
  p Dare Foods

div
  a(href='https://www.exploravision.org' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/exploravision.png' title='Toshiba ExploraVision' alt='Toshiba ExploraVision')
  p Toshiba ExploraVision

div
  a(href='https://www.healthit.gov' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/health-it-gov.png' title='HealthIT.gov' alt='HealthIT.gov')
  p HealthIT.gov

div
  a(href='https://www.ibdunmasked.com/global/' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/ibd-unmasked.png' title='IBD Unmasked' alt='IBD Unmasked')
  p IBD Unmasked

div
  a(href='https://www.igu.org' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/igu.png' title='IBD Unmasked' alt='IBD Unmasked')
  p IGU

div
  a(href='http://getbacktothetable.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/libbys-get-back-to-the-table.png' title="Libby's Get Back To The Table" alt="Libby's Get Back To The Table")
  p Libby&apos;s Get Back To The Table

div
  a(href='http://www.omnicomevents.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/omnicom-group.png' title='Omnicom Events' alt='Omnicom Events')
  p Omnicom Events

div
  a(href='https://www.petfoodinstitute.org' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/pet-food-institute.png' title='Pet Food Institute' alt='Pet Food Institute')
  p Pet Food Institute

div
  a(href='http://senecafoods.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/seneca-foods.png' title='Seneca Foods' alt='Seneca Foods')
  p Seneca Foods

div
  a(href='http://senecasnacks.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/seneca-snacks.png' title='Seneca Snacks' alt='Seneca Snacks')
  p Seneca Snacks

div
  a(href='https://www.thinkanthem.com' target='_blank' rel='noopener noreferrer')
    img.lazyload(data-src='images/think-anthem.png' title='Think Anthem' alt='Think Anthem')
  p Think Anthem
