p Dear reader,
p
    | These are years of dissolution and collapse, reinvention and transformation, of creative and commercial spheres spinning in alien ways.
p
    | Amidst this excitement and surrounded by the discordance of an endless supply of information, together we may issue a clarion call through the din and speak for ideas that necessitate their own existence via their own originality and integrity.
p
    | I believe in clarity of voice in the most uncompromising manner possible. And with that voice, and a lifetime of curious observation, create experiences that shake the world and have lasting and impactful digital footprints.
p
    | I am a builder and executor of commercial and open source web projects and advisor at the intersection of technology and business development.
p
    | In closing, I engage the best of the past, present, and future in collaboration and open conversation, and I sincerely look forward to speaking with you.
