h1 Allan T. Bendy
p#info
    span(title='Where I live') New York City
    span
        a#email.highlight(href="javascript:location='mailto:\u0061\u006c\u006c\u0061\u006e\u002e\u0062\u0065\u006e\u0064\u0079\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0" title='Say hi' target='_blank')
            script(type='text/javascript').
                const email = '\u0061\u006c\u006c\u0061\u006e\u002e\u0062\u0065\u006e\u0064\u0079\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';
                document.querySelector('#email').insertAdjacentHTML('beforeend', email)
    span
        a.highlight(href='http://publicfiles.allanbendy.com/Allan_T._Bendy_Resume.pdf' title="What I've done") Resume
