h1 Allan T. Bendy
p.mt0
    span(title='Where I live') New York City
    span
        a.a-yel(href="javascript:location='mailto:\u0061\u006c\u006c\u0061\u006e\u002e\u0062\u0065\u006e\u0064\u0079\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0" title='Say hi')
            script(type='text/javascript').
                document.write('\\u0061\u006c\u006c\u0061\u006e\u002e\u0062\u0065\u006e\u0064\u0079\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')
    span
        a.a-yel(href='http://publicfiles.allanbendy.com/Allan_T._Bendy_Resume.pdf' title="What I've done") Resume
