doctype html

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title A portfolio

    meta(name='description' content='A builder and executor of commercial and open source web projects and advisor at the intersection of technology and business development.')
    meta(name='keywords' content='Technical Lead, Senior Developer, DevOps, Business Development, User Experience, ES6 JavaScript, React, Vue.js, PHP, Symfony, Python, Django, Docker, Serverless, Microservices, Node.js, TypeScript, Git, GitHub, PostgreSQL, MySQL, AWS, Google Cloud, BitBucket, SASS, CSS, HTML, Bootstrap, WordPress, Drupal, CMS, Sketch, Adobe Creative')

    link(rel='shortcut icon' href='images/1-pixel-white.png' type='image/x-icon')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300&display=swap' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Spectral:600&display=swap' type='text/css')
    link(rel='stylesheet' href='assets/main.css' type='text/css')

#copy
    include ./copy.pug

#header
    include ./header.pug

script(src='assets/vendors~main.js')
script(src='assets/main.js')
