body {
    padding-right: 3rem;
    padding-left: 1rem;
}

h1 {
    color: #000;
    font-family: 'Spectral', serif;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

p,
a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

.a-yel {
    background-color: #f9fc7e;
    padding: 2px;
}

img {
    padding: 2rem;
    background-color: #ebebeb;
    max-width: 85%;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mt0 {
    margin-top: 0;
}

@media only screen and (min-width: 600px) {
    .mr1 {
        margin-right: 1rem;
    }
    
    .mr2 {
        margin-right: 2rem;
    }
    
    .mr3 {
        margin-right: 3rem;
    }
    
    .mr4 {
        margin-right: 4rem;
    }
    
    .mr5 {
        margin-right: 5rem;
    }
    
    .mr6 {
        margin-right: 6rem;
    }
    
    .mr7 {
        margin-right: 7rem;
    }
    
    .mr8 {
        margin-right: 8rem;
    }
    
    .mr9 {
        margin-right: 9rem;
    }
    
    .mr10 {
        margin-right: 10rem;
    }
    
    .mr11 {
        margin-right: 11rem;
    }
}
