// Base

body {
  animation: fadein 2s;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-left: 3rem;
  text-rendering: optimizeLegibility;

  @media (max-width: 600px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

img {
  display: block;
  max-width: 100%;
}
