// Header

#header {
  background-color: rgba(255,255,255,0.4);
  float: left;
  margin-top: .65rem;
  overflow: hidden;

  &.js-is-sticky--change {
    display: flex;
    flex-direction: column;
  }
}
