// Info

@mixin mobileStack {
  display: flex;
  flex-direction: column;

  & > *:first-child {
    margin-bottom: .9rem;
  }

  & > *:not(:first-child) {
    margin-bottom: .3rem;
  }
}

#info {
  margin-top: 0;

  .js-is-sticky--change & {
    @include mobileStack;
  }

  @media (max-width: 600px) {
    @include mobileStack;
  }

  & > * {
    align-self: flex-start;
    padding: 2px;

    &:not(:last-child) {
      margin-right: 1.4rem;
    }
  }
}
