// Typeography

.highlight {
  background-color: #f9fc7e;
}

h1 {
  color: #000;
  font-family: 'Spectral', serif;
  text-transform: uppercase;
  white-space: nowrap;
}

p,
span,
a {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

blockquote {
  color: #333;
  font-family: 'Spectral', serif;
  margin-bottom: 2rem;
}
